uk-select-input[disabled] div.uk-form-select {
  cursor: no-drop;
  border-color: #efefef !important;
  background: #f7f7f7; }
  uk-select-input[disabled] div.uk-form-select select-item-text-value,
  uk-select-input[disabled] div.uk-form-select small,
  uk-select-input[disabled] div.uk-form-select i.uk-icon-arrow_down {
    opacity: 0.4; }
uk-select-input div.uk-form-select select-item-text-value {
  display: inline; }
uk-select-input div.uk-form-select select-container {
  display: inline; }
uk-select-input div.uk-form-select div.spinner {
  margin-top: -12px; }
uk-select-input div.uk-form-select i.uk-icon-arrow_down {
  margin-top: -6px; }
uk-select-input div.uk-form-select select-item-text-value span {
  line-height: 20px !important; }
  uk-select-input div.uk-form-select select-item-text-value span.loading-text-item {
    opacity: 0.3; }

/*# sourceMappingURL=uk-select-input.css.map */
